In [2]:
import pandas as pd

compounds = pd.Series(["Water", "Ethanol", "Glucose"])
compounds

0      Water
1    Ethanol
2    Glucose
dtype: object

In [8]:
data = {
    "Compound": ["Water", "Ethanol", "Glucose"],
    "Molecular Weight": [18.015, 46.07, 180.16],
    "Melting point (degree celsius)": [0, -114.1, 146]
}
df = pd.DataFrame(data)
df.head()
#df.describe()
#df.dtypes

  Compound  Molecular Weight  Melting point (degree celsius)
0    Water            18.015                             0.0
1  Ethanol            46.070                          -114.1
2  Glucose           180.160                           146.0